body {
    background-color: #131515;
    margin: 0;
}

header {
    background-color: #0B7A75;
    width: 100%;
    height: 50%;
    font-size: 22px;
    
}

footer {
    background-color: #0B7A75;
}

.flex-container-header{
    display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
flex-direction: row;
justify-content: space-around;
width: 100%;
height: 10%;
font-style: Montserrat;
}
.who-am-i{
    color: #7BA7A0;
    display: flex;
    justify-self: center;
    
    
}
.flex-container-who-am-i{
    background-color: #339989 ;
    width: 90%;
    height: 200px;
    display: flex;
    justify-self: center;
    display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
flex-direction: row;
justify-content: space-around;
 border-radius: 11px;
}
.flex-container-text-over-my-self{
    background-color: #1A1D1A;
    color: #FFFFFF;
    height: 85%;
    width: 60%;
    border-radius: 11px;
    padding: 5px;
}
.flex-container-photo{
    background-color: #1A1D1A;
    color: #FFFFFF;
    height: 85%;
    width: 20%;
    border-radius: 11px;
    padding: 5px;
}