body {
    background-color: #131515;
    margin: 0;
}
p{
    margin-block-end: 0;
    margin-block-start: 0;
}

header {
    background-color: #0B7A75;
    width: 100%;
    max-height: 50%;
    font-size: 22px;
    height: 80px;
}
 @media only screen and (max-width:800px){
header{
    background-color:green;
}
}

footer {
    background-color: #0B7A75;
}

.flex-container-header{
    display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
flex-direction: row;
justify-content: space-around;
width: 100%;
height: 100%;
font-style: Montserrat;
}
.who-am-i{
    color: #7BA7A0;
    display: flex;
    justify-self: center;
    
    
}
.flex-container-who-am-i{
    background-color: #339989 ;
    width: 60%;
    height: 200px;
    display: flex;
    justify-self: center;
    display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
flex-direction: row;
justify-content: space-around;
 border-radius: 11px;
}
.flex-container-text-over-my-self{
    background-color: #1A1D1A;
    color: #FFFFFF;
    height: 85%;
    width: 50%;
    border-radius: 11px;
    padding: 5px;
}
.flex-container-photo{
    background-color: #1A1D1A;
    color: #FFFFFF;
    height: 85%;
    width: 20%;
    border-radius: 11px;
    padding: 5px;
}
.flex-container-skills{
    background-color: #1A1D1A;
    color: #FFFFFF;
    height: 28%;
    width: 45%;
    border-radius: 11px;
    padding: 5px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;

}
.logo-skills{
    background-color: #1A1D1A;
    color: #FFFFFF;
    height: 45%;
    width: 25%;
    border-radius: 11px;
    padding: 5px;
}
.text-skills{
    color: #FFFFFF;
    height: 100%;
    width: 65%;
}
.flex-container-skills-box{
    background-color: #339989 ;
    width: 60%;
    height: 800px;
    display: flex;
    justify-self: center;
    display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
flex-direction: row;
justify-content: space-around;
 border-radius: 11px;
}