body {
    background-color: #131515;
    margin: 0;
}

p {
    margin-block-end: 0;
    margin-block-start: 0;
}

h1 {
    color: #7BA7A0;
}

h2 {
    margin: 5px;
    color: #131515;
}

header {
    background-color: #0B7A75;
    width: 100%;
    max-height: 50%;
    font-size: 22px;
    height: 80px;
    top: 0;
    position: sticky;
}

@media only screen and (max-width:1300px) {
    body {
        font-size: 13px;
    }
}

footer {
    background-color: #0B7A75;
}

.flex-container-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    font-style: Montserrat;
}

.who-am-i {

    display: flex;
    justify-self: center;


}

.flex-container-who-am-i-box {
    background-color: #339989;
    width: 60%;
    height: auto;
    display: flex;
    justify-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 11px;
}

.flex-container-who-am-i {
    background-color: #1A1D1A;
    color: #FFFFFF;
    height: auto;
    width: 85%;
    border-radius: 11px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-top: 1%;
    margin-bottom: 1%;

}

.flex-container-text-over-my-self {
    color: #FFFFFF;
    height: auto;
    width: 65%;
}

.flex-container-photo {
    background-color: #1A1D1A;
    color: #FFFFFF;
    height: 45%;
    width: 25%;
    border-radius: 11px;
    padding: 5px;
}

.flex-container-skills {
    background-color: #1A1D1A;
    color: #FFFFFF;
    height: 28%;
    width: 45%;
    border-radius: 11px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-top: 1%;
    margin-bottom: 1%;

}

.logo-skills {
    background-color: #1A1D1A;
    color: #FFFFFF;
    height: 45%;
    width: 25%;
    border-radius: 11px;
    padding: 5px;
}

.text-skills {
    color: #FFFFFF;
    height: 100%;
    width: 65%;
}

.flex-container-skills-box {
    background-color: #339989;
    width: 60%;
    height: auto;
    display: flex;
    justify-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 11px;
}

.flex-container-projects-box {
    background-color: #339989;
    width: 60%;
    height: auto;
    display: flex;
    justify-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 11px;
}

.flex-container-project {
    background-color: #1A1D1A;
    color: #FFFFFF;
    height: auto;
    width: 85%;
    border-radius: 11px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-top: 1%;
    margin-bottom: 1%;
}

.flex-container-text-project {
    color: #FFFFFF;
    height: auto;
    width: 65%;
}

.flex-container-photo-project {
    background-color: #1A1D1A;
    color: #FFFFFF;
    height: auto;
    width: 40%;
    border-radius: 11px;
    padding: 5px;
}
.flex-container-photo-project-roc {
    background-color: #1A1D1A;
    color: #FFFFFF;
    height: auto;
    width: 40%;
    border-radius: 11px;
    padding: 5px;
}

.flex-container-contact-box {
    background-color: #339989;
    width: 60%;
    height: auto;
    display: flex;
    justify-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 11px;
}

.flex-container-contact {
    background-color: #1A1D1A;
    color: #FFFFFF;
    height: auto;
    width: 85%;
    border-radius: 11px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-top: 1%;
    margin-bottom: 1%;
}

.flex-container-text-contact {
    color: #FFFFFF;
    height: auto;
    width: 65%;
}

@media only screen and (max-width:900px) {
    .flex-container-skills-box {
        height: auto;
    }

    .flex-container-skills {
        width: 80%;
        height: 15%;
        flex-wrap: wrap;
        margin-top: 3%;
        margin-bottom: 3%;
    }

    .logo-skills {
        height: 100px;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5%;
    }

    .flex-container-photo {
        height: 100px;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5%;
    }

    .flex-container-who-am-i {
        flex-wrap: wrap;
    }

    .flex-container-text-over-my-self {
        width: 100%;
    }

    .flex-container-project {
        flex-wrap: wrap;
    }

    .flex-container-photo-project {
        height: 100px;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5%;
    }
    .flex-container-photo-project-roc {
        height: 75px;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5%;
    }

    .flex-container-text-project {
        width: auto;
    }

    .flex-container-text-contact {
        width: auto;
    }
}
